*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #191919;
    font-family: sans-serif;
}
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #1a1a1a;
}
.link-group{
    list-style: none;
    display: flex;
    flex-wrap: wrap
}
.link a{
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 1vmin 2vmin;
    margin: 0 1.5vmin;
    line-height: 5vh;
    transition: .5s;
    font-size:1vmax;
}
.link a:hover, .link.active a{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.315);
}
.home-section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    left: 10%;
    top: 0;
    opacity: 1;
    transition: 1s;
    position: fixed;

}
.hero-heading{
    position: fixed;
    top: 30%;
    left: 10%;
    text-align: center;
    color: #fff;
    font-size: 15vmin;
    text-transform: capitalize;
    font-weight: 300;
}
#home-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    object-fit: cover;
    opacity: 0.11;
    background: url("../img/harambe.png") center;
    background-size: cover;
}
/*
Контактная информация
*/
.block{
    position: relative;
    right: 25%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.blockinf{
    display: flex;
    width: 20%;
    position: relative;
    top: 10vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    position: relative;
    vertical-align: middle;
}
.gmail{
    width: 127px ;
    height: 127px ;
    background: url("../img/gmail.png");
    margin-bottom: 9vh;

}
.mail{
    width: 115px ;
    height: 115px ;
    background: url("../img/mail.png");
    margin-bottom: 9vh;

}
.viber{
    width: 121px ;
    height: 121px ;
    background: url("../img/viber.png");

}
.infotext{
    position: relative;
    margin-left:5vw;
    width: 25vw;
    font-size: 25px;
    font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';
    font-weight: 800;
    color:#ffffffbd;
    white-space:pre;
}
.soc{
    width: 40%;
    position: relative;
    left: 60%;
    top:5vh;

}
.socic{
    display: flex;
    position: relative;
}
.vk{
    width: 90px ;
    height: 90px ;
    background: url("../img/vk.png") center;
    
}
.inst{
    width: 90px ;
    height: 90px ;
    background: url("../img/inst.png") center;
    
}
.steam{
    width: 90px ;
    height: 90px ;
    background: url("../img/steam.png") center;
    
}
.git{
    width: 90px ;
    height: 90px ;
    background: url("../img/git.png") center;
    
}
.vk:hover{
    transition: 200ms;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}
.inst:hover{
    transition: 200ms;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}
.steam:hover{
    transition: 200ms;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100px;
}
.git:hover{
    transition: 200ms;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100px;
}
/*
Галерея
*/
.gallereymain{
    position: relative;
    top: 12vh;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.replaceimg img{
    position: relative;
    height: 120px;
    width: 120px;
}
.replaceimg1 img{
    position:relative;
    height: 120px;
    width: 120px;
    transform: scale(-1, 1);
}
#mainImage{
    overflow: hidden;
    position: relative;
    width: 550x;
    white-space:nowrap;
    border: 2vmin groove rgb(172, 172, 172) ;
}
.uwu{

    height:450px;
    display: inline-flex;
    
    background-repeat:no-repeat;
}
.replaceimg img:hover , .replaceimg1:hover {
    transition: 0.5s;
    opacity: 0.5;
}
.imgl{
    position: relative;
    display: flex;
    flex-direction: row;
}
.listimg img{
    opacity: 0.5;
    filter: blur(0.25vmin);
    margin-bottom: 1vmin;
    margin-right: 1vmin;
    position: relative;
    top:3vh;
    height: 120px;
    width: 120px;
}
.listimg:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.row{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
/*
Вход пользователя
*/
.quest{
 position: relative;
 top:5vh;
 text-decoration: none;
 font-size: 3vmin;
}
.container{
    width: 40vw;
    position: relative;
    left:28%;
    top: 30vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 5vmin;
    color: rgb(189, 189, 189);
    margin: 0;
}
.inputblock{
    max-height: 50vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    position: relative;
    text-align: center;
    color: rgb(54, 50, 50);
    background-color: #e6e6e6d2;
    border-radius: 0.5vmin;
}
.textarea{
    margin-top: 2vh;
    width: 80%;
    height: 15%;
    font-size: 2vmin;
    font-family:'Segoe UI';
    text-align: center;
    color:#000000;
    border:0.2vmin solid black;
    border-radius: 1vmin;
}
.regbutton{
    margin: 2vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(124, 241, 150);
    font-size: 2.5vmin;
    border:0.1vmin solid rgb(0, 0, 0);
    border-radius: 1vmin;
}
.regbutton:hover{
    transition: 300ms;
    background-color: rgb(80, 175, 101);
}
.file{
    margin-top: 1vh;
    margin-bottom: 1vh;
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 1.7vmin;
    align-items: center;
    width: 90%;
    height: 5vh;
}
/*
Страница Пользователя
*/
.cont{
    position: relative;
    max-height: 70%;
    height: 70%;
    width: 70%;
    left:25%;
    top: 20vh;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.cont1{
    position: relative;
    max-height: 70%;
    height: 70%;
    width: 70%;
    left:13%;
    top: 15vh;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 6vmin;
    margin: 0;
}

.userImage img{
    width: 313px;
    height: 475px;
    margin: 5vmin;
    position:relative;
    border: 1vmin solid gray;
    border-radius: 6vmin;
}
.userinfo{
    margin-top: 9vh;
    font-size: 3.5vmin;
    font-family:'Segoe UI';
    text-align: left;
    color:#000000;
}
.adminpanel{
    width: 30vw;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1.9vmin;
    color: rgb(0, 0, 0);
    background-color: #2e2e2e;
    border:0.5vmin solid black;
    border-radius: 1vmin;
    margin: 0;
}
.admininput{
    max-height: 50vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    position: relative;
    text-align: center;
    color: rgb(68, 68, 68);
    background-color: #adadadd2;
    border: 0.1vmin solid black;
    border-radius: 0.5vmin;
}
.addbutton{
    margin: 0.5vmin;
    font-size: 1.5vmin;
    font-family:'Segoe UI';
    text-align: center;
    background-color: rgb(124, 241, 150);
}
table{
    width: 20vw;
    background-color: white;
}
td{
    border: 0.1vmin solid black;
    text-align: center;
    background-color: white;
}
.tabletext{
    color:white;
}

.mldmtext{
    margin: 5vmin;
    color: rgb(255, 255, 255);
    position: relative;
    top:30vh;
    font-size: 3vmin;
    text-align: center;
    align-items: center;
}
.mldmtext:hover{
    transition: 0.5s;
    opacity: 0.5;
}

/* Лабораторные */
.project-section{
    width: 100%;
    min-height: 100vh;
    position: relative;
    top: 10vh;
    transition: 1s;
    opacity: 1;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    grid-gap: 2vw;
}
.project-card{
    height: 50vmin;
    position: relative;
}
.project-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: .5s;
}
.project-content{
    position: relative;
    padding: 2vmin;
    color: #fff;
    transition: .5s;
    opacity: 0.8;
}
.project-title{
    font-size: 5vmin;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}
.project-info{
    position: relative;
    margin:2.5vmin;
    font-size: 2vmin;
    line-height: 3vmin;
    text-align: center;
}
.project-btn-grp{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.project-btn{
    height: 4vh;
    text-transform: capitalize;
    font-size: 2.5vmin;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}
.project-btn.live{
    background: none;
    border: 0.3vmin solid #fff;
}
.project-card:hover .project-img{
    filter: blur(20px);
}
.project-card:hover .project-content{
    opacity: 1;
}

/*Обо мне*/
.about-section{
    min-height: 100vh;
    position: fixed;
    top: 13vh;
    opacity: 10;
    transition: 1s;
}
.about-img-container{
    position: relative;
    display: flex;
    width: 90vw;
}
.about-info{
    color: #fff;
    opacity: 0.6;
    font-size: 2.6vmin;
    line-height: 5.5vmin;
    margin-right: 2vw;
}
.about-img{
    min-width: 400px;
    width: 400vmin;
    height: 77vmin;
    position: relative;
    margin-right: 2vw;
    border-radius: 5vmin;
    background: url("../img/Mypic.jpg") center;
    background-size: cover;

}